* {
    box-sizing: border-box;
}
#top-control-bar {
    margin: 0;
    width: 100%;
    height: 56px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #636381;
    padding: 0 12px;
    border-radius: 0;
    app-region: drag;
}
#top-info {
    background: #14111F;
    border-width: 0 1px;
    border-style: solid;
    border-color: #636381;
    padding: 4px 10px;
    border-radius: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    app-region: no-drag;
}
#menu-toggle {
    background: #14111F;
    border-width: 0 1px;
    border-style: solid;
    border-color: #636381;
    padding: 8px;
    border-radius: 0;
    height: 100%;
    app-region: no-drag;
}
#control-bar {
    border-width: 1px 0 0;
    border-radius: 0;
    width: 100%;
    height: 56px;
}
#map {
    top: 0;
}
#side-menu.show {
    animation: menuSlideIn 0.3s ease forwards;
}
#side-menu.hide {
    animation: menuSlideOut 0.3s ease forwards;
}
@keyframes menuSlideIn {
    from {
        opacity: 1;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes menuSlideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateX(-100%);
    }
}
#side-menu {
    app-region: no-drag;
}